.userProfile {
  position: relative;

//   .userProfile__header {
//     background-image: url(https://i.imgur.com/gQ1Enb7.jpg);
//     background-size: cover;
//     background-position: center;
//     height: 20vh;
//   }

    
    .userHeader{
        object-fit: cover;
        width:100%;
        height: 20vh;
      }

  

  .userAvatar {
    position: absolute;
    top: 20vh;
    transform: translateY(-50%);
    margin-left: 5vw;
    border-radius: 100%;
    img {
      height: 18vw;
      border-radius: 100%;
    }
  }
  .userProfile__info {
    padding:  2vw 5vw 5vw ;
    .userButtons{
        position:absolute;
        right:5vw;
       
        button, #submitEditBtn{
            margin-left:1vw;
            border-radius:30px;
            border: 1px solid black;
            padding:0.3em 1.2em;
            font-size:18px;
        }
        .DMbtn,.settingsBtn,.editBtn{
            padding: 0.3em  0.6em;
            background-color: white;


        }
            .followBtn{
                color:white;
                 background-color: black;
            }
            .unFollowBtn{
               color:darkgray;
                background-color: white;
            }
            .unFollowBtn:hover{
                color:white;
                 background-color: black;
           
             }
             
        
    }
    div {
      padding: 0.4em 0;
    }
    .userNameFollow {
      display: flex;
      padding-top:10vw;
      .userName {
      
        margin-right: 1em;
      }
      .userIsFollowing {
        display: flex;
        align-self: center;
        border: 1px solid purple;
        text-transform: uppercase;
        font-size: 10px;
        padding: 0.3em 0.8em;
        font-weight: 700;
        border-radius: 8px;
      }
    }
    .userEmail {

      width: fit-content;
    }
    .userStats {
      display: flex;
      .stats {
        font-size: 14px;
        font-weight: 700;
      }
      .userFollowers {

        width: fit-content;
      }
      .userFollowing {
       
        width: fit-content;
        margin-right: 1em;
      }
    }
    .userDescription {
    
      margin: 2vw 0;
    }

    .userExtLink {
      color: blue;
    }
    .userMemberAgo {
      
      width: fit-content;
    }
  }
}

#submitEditBtn{
    border-radius:30px;
            border: 1px solid black;
           height:2.4em;
            font-size:18px;
            background-color: black;
            color:white;
            font-weight:700;    
}

.userProfile .userProfile__info div{
    padding:0;
}
