.userProfile {
  position: relative;

  .userProfile__header {
    border: 10px solid purple;
    background-image: url(https://i.imgur.com/gQ1Enb7.jpg);
    background-size: cover;
    background-position: center;
    height:20vh;
  }
  .userAvatar {
    position: absolute;
    top: 20vh;
    transform: translateY(-50%);
    margin-left:5vw;   

    border: 10px solid white;
    border-radius:100%;
    img {
      height: 18vw;
      border-radius:100%;
    }
  }
  .userProfile__info {
  
    padding: 10vw  5vw 5vw;
    border: 10px solid green;
    div{
        padding:0.4em 0 ;
    }
    .userNameFollow{
        display:flex;
        .userName{
            border: 1px solid pink;
            margin-right:1em;
        }
        .userIsFollowing{
            display: flex;
            align-self: center;
            border: 1px solid purple;
            text-transform: uppercase;
            font-size:10px;
            padding: 0.3em 0.8em;
            font-weight: 700;
            border-radius: 8px;
        }

    }
    .userEmail{
        border: 1px solid red;
        width: fit-content; 
    }
    .userStats{
        display:flex;
        .stats{
            font-size:14px;
            font-weight:700;

        }
        .userFollowers{
            border: 1px solid red;
            width: fit-content;
        }
        .userFollowing{
            border: 1px solid red;
            width: fit-content;
            margin-right:1em;
        }
    }
    .userBio{
        border:1px solid blue;
        margin: 2vw 0 ; 
        
    }
.userExtLink{
    border:1px solid green;
}
    .userMemberAgo{
        border:1px solid black;
        width: fit-content; 
    }

  }
}
