
.Search__all{
  border: 1px solid darkgray;
  background-color: rgb(251, 251, 251);
  overflow: auto;
  position:fixed;
  margin:1em 4em 0 0  ;
  height:760px;
   border-radius: 4px;
   width:50%;


   h2{
    width:100%;
    margin:1em;
    text-align: center;
    
    
}

   }