@import "antd/dist/antd.css";

.margin{
  margin-left:25vw
  
}
.home{
  border:2px solid black;
  background-color: beige;
  
}
.home__posts{
  border:2px solid red;
  background-color: azure;
  padding:2em;
}
.home__posts__all{
  border: 2px solid blue;
  background-color: aquamarine;
  padding: 1em;
  display:flex;
  flex-wrap:wrap;
  .post{
    border: 2px dotted white;
    background-color: burlywood;
    margin: 1em 0 ;
    width: 50%;
    
  }
}

.users{

  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  border:solid 8px rgb(65, 172, 35);
  background-color: aquamarine;
  .users__all{
  
    display:flex;
    flex-wrap: wrap;
    border:solid 8px rgb(65, 172, 35);
    background-color: rgb(173, 180, 37);
    .user{
      border:6px solid purple;
      background-color: bisque;
      width: 33.3%;
      padding:1em;
  
    }}


}

.profile{
  border:20px solid pink;
  
  .userProfile{
    border: 10px solid red;
  }
  .following{
    background-color: antiquewhite;
  }
}
.userDetail{
  border:20px solid pink;
  
}
.postDetail{
  
  border:20px solid blue;
}
.Search__all{
  
}
// SINGLE COMPONENTS
.following,.follower{
  border:10px solid green;

  .following__box,.follower__box{
    display:flex;
  }
}
.following__user,.follower__user{
  border:2px solid blue;
  width:30%;
}

// ----- Users Posts ---- 
.userPosts{
  border:10px solid red;
  display:flex;
  flex-wrap:wrap;
}
.userPosts__post{
  border:10px solid orange;
  width:25%;
  aspect-ratio: 1 / 1;
}


.header{
  border:2px solid red;
  width:25vw;
  position:fixed;
  padding-left:1em;
  display:flex;

  justify-content: flex-end;
  .header-box{
    border:2px solid blue;
    width:18vw;
   

    height: 80vh;
    div.header-link {
      margin: 2em 0 ;
      border:2px solid green;
      background-color: aquamarine;
      
      a {
        margin: 2em;
        border:2px solid purple;
         }
    }
   
  }
  
}




.notification-class{
  width:600px;
  background-color: aqua;
  color:red;
  border: 2px solid yellow;
}
.searchBar{
  width:600px;
  background-color: aqua;
  color:red;
  border: 2px solid yellow;
}

.post__img{
  width:300px;
  height:auto
}
.smallIcon__img{
  width:48px;
  height:auto;
}

// override ant-d styles

// ** TAB COLOR
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color:red;
}
// ** TAB BORDER-BOTTOM
.ant-tabs-ink-bar {
  height: 5px;
  background: green ;
}