@import "antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.margin {
  margin-left: 25vw;
}
.home {
  border: 2px solid black;
  background-color: beige;
}
.home__posts {
  border: 2px solid red;
  background-color: azure;
  padding: 2em;
}
.home__posts__all {
  border: 2px solid blue;
  background-color: aquamarine;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  .post {
    border: 2px dotted white;
    background-color: burlywood;
    margin: 1em 0;
    width: 50%;
  }
}


// SINGLE COMPONENTS
.following,
.follower {
  .following__box,
  .follower__box {
    display: flex;
    flex-wrap: wrap;
  }
}
.following__user,
.follower__user {
  margin: 3em auto;
  border: 1px solid rgb(203, 200, 200);
  border-radius: 5px;
  background-color: rgb(251, 251, 251);

  .userImg {
    border-radius: 100%;
    width: 18vw;
    margin: 1em;
    text-align: center;
    .img {
      border-radius: 100%;
      width: 15vw;
      margin: 0 auto;
    }
  }
  .userName {
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 1em;
  }
}

.bio {
  border: 1px solid purple;
}
// ----- Users Posts ----
.userPosts {
  display: flex;
  flex-wrap: wrap;
}
// .userPosts__post{
//   border:10px solid white;
//   width:33.33%;
// ;
// }

.header {
  border: 2px solid red;
  width: 25vw;
  height: 100%;
  position: fixed;
  padding-left: 1em;
  display: flex;
  justify-content: flex-end;
  .header-box {
    border: 2px solid blue;
    height: 100%;
    width: 18vw;

    height: 80vh;
    div.header-link {
      margin: 2em 0;
      border: 2px solid green;
      background-color: aquamarine;

      a {
        margin: 2em;
        border: 2px solid purple;
      }
    }
  }
}

.notification-class {
  width: 600px;
  background-color: aqua;
  color: red;
  border: 2px solid yellow;
}
.searchBar {
  width: 600px;
  background-color: aqua;
  color: red;
  border: 2px solid yellow;
}

.post__img {
  width: 300px;
  height: auto;
}
.smallIcon__img {
  width: 48px;
  height: auto;
}

// override ant-d styles

// ** TAB COLOR
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}
// ** TAB BORDER-BOTTOM
.ant-tabs-ink-bar {
  height: 5px;
  background: black;
}
