@import "antd/dist/antd.css";


.home{
  border:2px solid black;
  background-color: beige;
}
.home__posts{
  border:2px solid red;
  background-color: azure;
  padding:2em;
}
.home__posts__all{
  border: 2px solid blue;
  background-color: aquamarine;
  padding: 1em;
  display:flex;
  flex-wrap:wrap;
}

.post{
  border: 2px dotted white;
  background-color: burlywood;
  margin: 1em 0 ;
  width: 50%;
  
}
.notification-class{
  width:600px;
  background-color: aqua;
  color:red;
  border: 2px solid yellow;
}
.searchBar{
  width:600px;
  background-color: aqua;
  color:red;
  border: 2px solid yellow;
}

.post__img{
  width:300px;
  height:auto
}
.smallIcon__img{
  width:48px;
  height:auto;
}

.userPosts{
  border:2px solid red;
}
.userPosts__post{
  border:2px solid orange;
  width:600px;
}